.container {
  background-image: url('https://res.cloudinary.com/esdran26/image/upload/v1612846519/About_Background_2x_osjice.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
}