.container {
  background-image: url('https://res.cloudinary.com/esdran26/image/upload/v1613664258/Timeline_Background_x2_wd3rdh.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 0;
}