@import '../settings.scss';

.footer__container {
    min-height: 75px;
    background-color: $black;
    color: $footer-grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
