@import '../settings.scss';

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}

.content {
  margin-left: 5rem;
  max-width: 560px;
}

.content p:nth-child(1) {
  letter-spacing: 2px;
}

.buttons {
  margin-top: 1rem;
}

.buttons a {
  margin-right: 3rem;
  font-size: 15px;

  &:nth-child(1) {
    background-color: $primary;
    color: $logo;
    border: 1px solid $primary;
    padding: 12px 20px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
  }

  &:nth-child(1):hover {
    background-color: $logo;
    color: $primary;
  }

  &:nth-child(2) {
    color: $primary;
    letter-spacing: 2px;
    border: 1px solid transparent;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.5rem;
}

.media a  {
  margin-right: 3rem;  
  color: white;

  &:nth-child(4) {
    margin-right: 0;
  }
}

.media a svg {
  width: 25px;
  height: 25px;
  transition: all .3s ease-in-out;

  &:hover {
    cursor: pointer;
    transform: translateY(-5px);
  }
}

@media screen and (max-width: 1500px) {
  .content {
    margin-left: 8rem;
    margin-right: 1rem;
  }
}

@media screen and (max-width: 1360px) {
  .content h1{
    font-size: 50px;
  }
  .image img {
    width: 390px;
  }
}

@media screen and (max-width: 1300px) {
  .content {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 1173px) {
  .content h1{
    font-size: 45px;
  }

  .image img {
    width: 400px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    place-items: end;
    margin-right: 50px;
  }

  .content {
    margin: 0;
    text-align: right;
  }

  .image {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .image {
    display: block;
    width: 200px;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .contact {
    margin-top: 1rem;
  }

  .content {
    text-align: center;
    max-width: 320px;
  }

  .content h1 {
    font-size: 35px;
  }

  .content p {
    font-size: 15px;
  }

  .buttons a {
    margin: 0;
    margin: 0 .5rem;
    margin-bottom: 1.5rem;
    font-size: 12px;
  }

  .buttons {
    margin-bottom: 1.5rem;
  }
  .container, .image {
    margin: 0 auto;
  }

  .media a  {  
    color: $black;
  }

  .content p:nth-child(1) {
    margin-top: 1rem;
  }
}