@import '../../settings.scss';

.progress p {
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.progress p span {
  float: right;
  color: $secondary;
}

.progressBar {
  height: 20px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  display: flex;
  overflow: hidden;
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.progressBar div {
  border-radius: 25px;
  background-color: $secondary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  transition: width 0.6s ease;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.skills {
  width: 40vw;
  margin: 0 auto;
}

.illustration {
  text-align: center;
}
.illustration img {
  width: 40vw;
}

@media screen and (max-width: 980px) {
  .container {
    grid-template-columns: 1fr 0;
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 4rem;
  }

  .illustration img, .skills {
    width: 70vw;
  }

  .skills {
    grid-row: 2 / 3;
  }
}

@media screen and (max-width: 768px) {
  .skills h3 {
    margin-top: 2rem;
  }

  .container {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }
}