@import '../../settings.scss';

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}

.skills {
  width: 40vw;
  margin: 0 auto;
}

.illustration, .tech, .skills h3 {
  text-align: center;
}
.illustration img {
  width: 40vw;
}

.tech {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

.tech div {
  transition: transform .3s ease-in-out;
}

.tech div:hover {
  transform: translateY(-5px);
}

.tech div p {
  margin-top: 1rem;
}

@media screen and (max-width: 980px) {
  .container {
    grid-template-columns: 1fr 0;
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 4rem;
  }

  .illustration img, .skills {
    width: 70vw;
  }

  .skills {
    grid-row: 2 / 3;
  }
}

@media screen and (max-width: 768px) {
  .skills h3 {
    margin-top: 2rem;
  }

  .container {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }
}