@import '../../settings.scss';

.mobile {
  display: none;
}

.small {
  display: none;
}

@media screen and (max-width: 768px) {
  .mobile {
    height: 80px;
    display: flex;
    background-color: white;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    background-color: $black;
    z-index: 10;
  }
  
  .mobile a svg{
    width: 25px;
    height: 25px;
    color:  darken($color: white, $amount: 25);
  }

  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
  }

  .mobile a svg, .link, .small {
    transition: all .3s ease-in-out;
  }
}