@import '../../settings.scss';

.container {
  padding-top: 100px;
  min-height: 717px;
  max-height: 717px;
  background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  z-index: 10;
}

.container h3 {
  position: absolute;
  font-size: 8vw;
  font-weight: 800;
  color: $light;
}

.container  h2 {
  color: #115C63;
  font-size: 17.5vw;
}

@media screen and (max-width: 1440px) {
  .container {
    min-height: 600px;
    max-height: 600px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    min-height: 400px;
    max-height: 400px;
    border-radius: 0;
  }
}

@media screen and (max-width: 500px) {
  .container {
    min-height: 300px;
    max-height: 300px;
  }
}