@import './settings.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  min-height: 100vh;
}

h1, h2 a, h2, h3, h4 {
  font-family: $font-title;
  font-weight: 900;
}

h3 {
  font-size: 35px;
  color: $secondary;
}

p {
  font-weight: 500;
}

footer p, p, li {
  font-family: $font-text;
  font-weight: 500;
}

li {
  font-weight: 700;
}

h2 a {
  font-size: 50px;
}

p, a {
  font-size: 20px;
}

a {
  text-decoration: none;
  font-family: $font-text;
  font-weight: bold;
}

h1 {
  font-size: 60px;
  color: $primary;
  font-weight: 900;
  font-style: italic;
}

small {
  color: white;
  font-weight: 400;
  text-align: center;
  font-size: 13px;
  margin-top: .2rem;
}

span {
  font-family: $font-text;
  color: $black;
}

@media screen and (max-width: 1360px) {
  h1{
    font-size: 50px;
  }
}

@media screen and (max-width: 1173px) {
  h1{
    font-size: 45px;
  }
}

@media screen and (max-width: 768px) {
  p {
    font-size: 15px;
  }

  h1 {
    font-size: 35px;
  }

  h3 {
    font-size: 20px;
  }
}