@import './settings.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.background {
  background-image: url('https://res.cloudinary.com/esdran26/image/upload/v1612299053/Web_1920_1_2x_zru5vc.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

@media screen and (max-width: 1300px) {
 .background {
   background-image: url('https://res.cloudinary.com/esdran26/image/upload/v1612472647/Web_1920_4_2x_jqbxvf.png');
 } 
}

@media screen and (max-width: 768px) {
  .background {
    background-image: none;
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  } 
}