@import '../../settings.scss';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.logo h2 a {
  margin-left: 150px;
  color: $logo;
}

.menu {
  margin-right: 150px;
}

.menu a {
  margin-left: 4.688rem;
}

@media screen and (max-width: 1500px) {
  .logo h2 a {
    margin-left: 50px;
  }
  
  .menu {
    margin-right: 100px;
  }
}

@media screen and (max-width: 1300px) {
  .menu {
    margin-right: 50px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: none;
  }
}